/*COLOR THEME
https://color.adobe.com/reedme-color-theme-5839080/
*/

body{
	font-family: 'Lato', sans-serif;
	color: #002E40;
	background-color: #f8fdff;
}

h1, h2, h3, h4{
	font-weight: 700;
}

h2.section-header{
font-weight: 900;
}

a{
	color: #FA6700;
}

a:hover{
	color: #FA4400;
	text-decoration: none;
	cursor: pointer;
}

hr{
	border-color: #2A5769;
	opacity: .3;
}

.img-responsive{
	border: 1px solid #2A5769;
}

.img-responsive:hover{
	border: 1px solid #FA6700;
}

.navbar{
	margin-bottom: 0px;
	background-color: #002E40;
	color: #FFFFFF !important;
	border-radius: 0px;
	border: 0px;
}

.navbar-nav>li>a, .navbar-brand{
	color: #FFFFFF !important;
}

.navbar-nav>li>a:hover{
	color: #FA6700 !important;
}


.nav-icon{
	font-size: 18px !important;
}

button#nav-collapse{
	background-color: #002E40;
}

.ext-link{
	display: none;
}

.jumbotron{
	background-color: #002E40;
	color: #FFFFFF;
	border-bottom: 3px solid #2A5769;
	padding-top: 20px;
}

#portfolio{
	padding-bottom: 30px;
}

h3{
	margin-bottom: 2px;
}

.subhed{
	font-size: 16px;
	font-style: italic;
}

.description{
	margin-top: 10px;
}

#contact{
	background-color: #002E40;
	color: #FFFFFF;
	border-top: 3px solid #2A5769;
	padding-top: 10px;
	padding-bottom: 20px;
}

.white-bg{
	background-color: #FFFFFF !important;
}

#contact p{
  font-size: 21px;
  font-weight: 200;
}


@media screen and (max-width: 767px) {
   .ext-link{
   		display: inline;
   }

   .navbar-collapse.collapse.in{
	border-bottom: 1px solid white;
	}
}
